p {
  font-style: italic;
  font-size: larger;
  color: blueviolet;
}
ul {
  color: blue;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
}
ol {
  color: chartreuse;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-weight: 500;
  font-style: oblique; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
